@font-face {
  font-family: "Lato Black";
  src: url(../Lato/Lato-Black.ttf);
}
@font-face {
  font-family: "Lato";
  src: url(../Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../Lato/Lato-Light.ttf);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 1920px;
  max-width: 100wv;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__continer {
  width: 1171px;
  height: 632px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

h1 {
  color: #2c3e50;
  font-size: 30px;
  font-family: "Lato Light";
}

.child__continer1 {
  display: flex;
}

.box1 {
  width: 575px;
  height: 147px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 10px;
  margin-right: 30px;
  margin-top: 30px;
  border: 1px solid #e2e6e7;
  padding-left: 30px;
  padding-right: 30px;
}

.box2 {
  margin-right: 0;
}

.box1 h3 {
  font-weight: normal;
  font-size: 14px;
  font-family: "Lato Black";
  color: #2c3e50;
  letter-spacing: 0.1em;
  margin-top: 23px;
}

.box1 p {
  font-weight: normal;
  font-size: 14px;
  color: 2c3e50;
  font-family: "Lato";
  width: 357.05px;
  line-height: 24px;
}

.circle1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 29px;
  border: 7px solid #f9b718;
  background-color: #ffc12d;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  position: relative;
}

.circle1 i {
  color: #f9b718;
}

.close {
  font-weight: normal;
  font-size: 14px;
  font-family: "Lato Black";
  line-height: 24px;
  text-align: left;
  color: #cfd2d3;
  width: 12px;
  height: 19px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.circle2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 29px;
  border: 7px solid #7bc200;
  background-color: #97e411;
}

.circle2 i {
  color: #7bc200;
}

.circle3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 29px;
  border: 7px solid #f55c43;
  background-color: #fd7761;
}

.circle3 i {
  color: #f55c43;
}

.circle4 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 29px;
  border: 7px solid #47b4f6;
  background-color: #6fd9fc;
}

.circle4 i {
  color: #47b4f6;
}

.circle5 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 29px;
  border: 7px solid #8781bd;
  background-color: #a39cdc;
}

.circle5 i {
  color: #8781bd;
}

.box1 {
  background-color: #ffc12d;
}

.box2 {
  background-color: #97e411;
}

.box3 {
  background-color: #fd7761;
}

.box4 {
  background-color: #6fd9fc;
}

.box5 {
  width: 100%;
  margin-right: 0;
  background-color: #a39cdc;
}
.box5 p {
  font-weight: normal;
  font-size: 14px;
  color: 2c3e50;
  font-family: "Lato";
  width: 357.05px;
  line-height: 24px;
  width: 950px;
}
.box5 h3 {
  margin-top: 25px;
}

i {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=index.css.map */
