@import "reset";
@import "pallete";
@import "shared";

@font-face {
  font-family: "Lato Black";
  src: url(../Lato/Lato-Black.ttf);
}

@font-face {
  font-family: "Lato";
  src: url(../Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../Lato/Lato-Light.ttf);
}

body {
  @include body-reset;
}

.main__continer {
  width: 1171px;
  height: 632px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

h1 {
  color: $text-header;
  font-size: 30px;
  font-family: "Lato Light";
}
.child__continer1 {
  display: flex;
}
.box1 {
  @include all-box;
  border: $box-border;
  padding-left: 30px;
  padding-right: 30px;
}
.box2 {
  margin-right: 0;
}
.box1 h3 {
  @include all-header;
}
.box1 p {
  @include all-paragraph;
}

.circle1 {
  @include all-circle;
  border: $circle1-border;
  background-color: $circle1-color;
}
.circle1,
.circle2,
.circle3,
.circle4,
.circle5 {
  position: relative;
}
.circle1 i {
  color: $icon1;
}
.close {
  @include close;
  position: absolute;
  top: 10px;
  right: 15px;
}
.circle2 {
  @include all-circle;
  border: $circle2-border;
  background-color: $circle2-color;
}
.circle2 i {
  color: $icon2;
}
.circle3 {
  @include all-circle;
  border: $circle3-border;
  background-color: $circle3-color;
}
.circle3 i {
  color: $icon3;
}
.circle4 {
  @include all-circle;
  border: $circle4-border;
  background-color: $circle4-color;
}
.circle4 i {
  color: $icon4;
}
.circle5 {
  @include all-circle;
  border: $circle5-border;
  background-color: $circle5-color;
}
.circle5 i {
  color: $icon5;
}
.box1 {
  background-color: $circle1-color;
}
.box2 {
  background-color: $circle2-color;
}

.box3 {
  background-color: $circle3-color;
}
.box4 {
  background-color: $circle4-color;
}

.box5 {
  width: 100%;
  p {
    width: 998px;
  }
  h3 {
    margin-top: 25px;
  }
  background-color: $circle5-color;
}

i {
  @include all-icon;
}
