$text-header: #2c3e50;
$text-paragraph: 2c3e50;

$icon1: #f9b718;
$icon2: #7bc200;
$icon3: #f55c43;
$icon4: #47b4f6;
$icon5: #8781bd;

$box-border: 1px solid #e2e6e7;

$circle1-color: #ffc12d;
$circle1-border: 7px solid #f9b718;

$circle2-color: #97e411;
$circle2-border: 7px solid #7bc200;

$circle3-color: #fd7761;
$circle3-border: 7px solid #f55c43;

$circle4-color: #6fd9fc;
$circle4-border: 7px solid #47b4f6;

$circle5-color: #a39cdc;
$circle5-border: 7px solid #8781bd;
